@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Fonts all style */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(6, 1fr);
  grid-template-areas: 
    "sidebar header header header header header"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
  ;

  background-color: blue;
  width: 100vw;
  height: 100vh;
}

#header {
  grid-area: header;
  background-color: red;
}

/* Sidebar */
#sidebar {
  grid-area: sidebar;

  height: 100vh;
  padding-left: 20px;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 48px;

  background-color: #1892d3;
  color: #fefefe;

  font-size: 1.2rem;
}

.icon-container {
  padding-left: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon-container li,
.logo {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  align-items: center;
}

.icon-logo + .icon-text {
  font-size: 1.8rem;
}

.icon-logo {
  width: 50px;
}

.icon {
  width: 30px;
}

#main {
  grid-area: main;
  background-color: green;
}